.number-display {
  font-size: 55px;
  text-align: center;
  margin-top: 50px;
}
h1{
 padding:5px;
color:#0b0b64;
font-family: 'Inter';
font-size: 55px

}
h2{
margin-button:100px;
color:#0b0b64;
font-family: 'Inter';
font-size: 40px

}

#numero{
  font-size: 72px;
  text-align: center;
  margin-top: 15px;
  font-family: 'Inter';
  color: #000080;
}

.progress {
  height: 90px;
  border-radius: 20px;
  display: flex;
}

.bg-warning {
  background-color: #ff8c00 !important;
}
.messege{
  font-size: 30px;
  color: #FFFFFF;
  font-weight: bold;
  margin: auto;
  display:flex;
  
 
}
.fa-solid{
  padding:50px;
  color: #ff8c00
}
.data{
  display:block;  
  padding:60px;
  width:auto;
  height:auto;
}   

