.number-display {
  font-size: 48px;
  text-align: center;
  margin-top: 80px;
}
h1{
color:#0b0b64;
font-family: 'Inter';
font-size: 45px

}
h2{
 margin-top: 120px;
color:#0b0b64;
font-family: 'Inter';
font-size: 25px;
display:flex;

}

#numero {
  font-size: 72px;
  text-align: center;
  margin-top: 15px;
  font-family: 'Inter';
  margin-top: 80px;
  

}

.progress {
  height: 60px;
  border-radius: 20px;
  display: flex;
 
}

.bg-warning {
  background-color: #ff8c00 !important;
}
.messege{
  font-size: 21px;
  color: #FFFFFF;
  font-weight: bold;
  margin: auto;
  display:flex;
 
  
}
#data{
  text-align: center;
}